.agent-list {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-y: auto; /* Keeps the agent list scrollable */
}

.agent-list .agent-item {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1fr 3fr 3fr 3fr 3fr 1fr 1fr 1fr 1fr 0.5fr 0.3fr;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    align-items: center;
    overflow: hidden; /* Optional: hides content that overflows the max height */
}

.agent-list .agent-item.title-row {
    font-weight: bold;
    background-color: #f0f0f0;
}

.agent-list .agent-item .delete-icon {
    cursor: pointer;
    text-align: center;
}

.agent-list .agent-item .delete-icon:hover {
    color: red;
}
