<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent List</title>
    <link rel="stylesheet" href="/static/css/agent_style.css">
</head>
<body>
    <div class="create-agent-form">
        <h2>Create New Agent</h2>
        <form id="agentCreationForm">
            <input type="text" id="agentName" name="name" placeholder="Name">
            <input type="text" id="agentDescription" name="description" placeholder="Description">
            <button type="submit">Create Agent</button>
        </form>
    </div>
    <div class="create-model-settings-form">
        <h2>Model Settings</h2>
        <form id="modelSettingsCreationForm">
            <input type="number" id="settingsId" name="id" placeholder="ID">
            <input type="text" id="settingsModel" name="model" placeholder="Model">
            <button type="submit">Save Settings</button>
        </form>
    </div>    
    <div class="create-key-settings-form">
        <h2>Openai Key Settings</h2>
        <form id="keySettingsCreationForm">
            <input type="text" id="settingsOpenAIKey" name="openai_key" placeholder="OpenAI Key">
            <button type="submit">Save Settings</button>
        </form>
    </div>    
    <div class="user-uuid-form">
        <h2>Get Agent by User UUID</h2>
        <form id="userUuidForm">
            <input type="text" id="userUuid" name="user_uuid" placeholder="User UUID" required>
            <button type="submit">Get Agent</button>
        </form>
    </div>

    <div class="agent-uuid-form">
        <h2>Get Agent by Agent UUID</h2>
        <form id="agentUuidForm">
            <input type="text" id="agentUuid" name="agent_uuid" placeholder="Agent UUID" required>
            <button type="submit">Get Agent</button>
        </form>
    </div>

    <div class="settings-id-form">
        <h2>Get Settings by Settings ID</h2>
        <form id="settingsForm">
            <input type="number" id="settingsId2" name="Settings_id" placeholder="Setting ID" required>
            <button type="submit">Get Settings</button>
        </form>
    </div>
    
    <div class="agent-list">
        <h2>Available Agents</h2>
        <div class="agent-item title-row">
            <span class="agent-id">ID</span>
            <span class="agent-uuid">UUID</span>
            <span class="agent-name">Name</span>
            <span class="agent-spl">SPL</span>
            <span class="agent-spl-form">SPL Form</span>
            <span class="agent-cfp">CFP</span>
            <span class="agent-lint">Lint</span>
            <span class="agent-chain">Chain</span>
            <span class="agent-settingsID">SettingsID</span>
            <span class="agent-ownerUUID">OwnerUUID</span>
            <span class="agent-creatorUUID">CreatorUUID</span>
            <span class="agent-active">Active</span>
            <span class="delete-icon">Delete</span>
        </div>
        <div id="agentListContainer">
            <!-- Dynamic content will be inserted here -->
        </div>
    </div>
    <script src="/static/js/agent.js"></script>
</body>
</html>
