<!DOCTYPE html>
<html>
<head>
  <title>Product Listing Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <div class="container">
    <h3>Product Listing</h3>
    <div class="input-field">
      <input id="search" type="text" class="validate">
      <label for="search">Search Products</label>
    </div>
    <div class="row" id="product-list">
      <!-- Product cards will be dynamically added here -->
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/js/websitetest.js"></script>
</body>
</html>