<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspace test</title>
    <link rel="stylesheet" href="/static/css/websitetest.css">
</head>
<body>
<!-- Product Page Template -->
<div class="product-page-container">
    <div class="product-image">
      <img src="" alt="Product Image">
    </div>
    <div class="product-details">
      <h2 class="product-title"></h2>
      <p class="product-price"></p>
      <p class="product-description"></p>
      <button class="btn-large waves-effect waves-light">Add to Cart</button>
    </div>
  </div>
  <div class="search-bar">
    <input id="search" type="text" placeholder="Search for a product">
    <button class="btn waves-effect waves-light" onclick="searchProducts()">Search</button>
  </div>
  <div class="products-container"></div>
    <script src="/static/js/websitetest.js"></script>
</body>
</html>